<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <a class="navbar-brand" href="{% url 'AppCoderInicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'AppCoderCursoLeer' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'AppCoderProfesores' %}">Profesores</a>

        {% if user.is_authenticated %}
            <h5>User: {{ user.get_username }}</h5>
            <a class="btn btn-primary" href="{% url 'UserCoderLogout' %}">Logout</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'UserCoderLogin' %}">Login</a>
        {% endif %}

    </div>
</nav>
