{% extends 'index.html' %}

{% block title %}Buscar Curso{% endblock %}

{% block body %}


    <form action="" method="post">
        {% csrf_token %}
        {{ my_form.as_p }}

        <input type="submit" value="Buscar por camada">

    </form>

    {% if cursos %}
        <h4>Los Cursos son:</h4>
        {% for curso in cursos %}
            <p>el curso es: {{ curso.nombre }} camada {{ curso.camada }}</p>
            <br>
        {% endfor %}
    {% else %}
        <h6>No hay cursos para el filtro seleccionado</h6>
    {% endif %}



{% endblock %}
